
@import url('../node_modules/pretendard/dist/web/static/pretendard.css');

body {
    margin: 0;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
        Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
        "Noto Sans KR", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
        Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
        "Noto Sans KR", "Malgun Gothic", sans-serif
        monospace;
}

html{
  min-height: 100%;
}
body{
  background: linear-gradient(132.38deg, #3299FF 5.94%, #236AB0 95.27%) fixed;
  font-size : 14;
}
span{
  font-family : "Pretendard";
  font-weight : medium;
}